h1 {
    color: coral;
}

.word{
    display: inline-block;
}

.original{
    font-size: 200%;
}

.translation{
    width: 20px;
    display: block;
    font-size: 70%;
    color: #b9b9b9;
    background: #fff;
}