<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/style.css" rel="stylesheet" />
</head>
<body>

<h2>Page 1</h2>
<tr th:each="word: ${words}">
    <div class="word">
        <span class="translation" id="${word.id}"><td th:text="${word.translation}"/></span>
        <span class="original"><td th:text="${word.origin}"/></span>
    </div>
</tr>
</body>
</html>